html{
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 90px;
    height: 90px;
}

.ladoA{
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}

.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
    left: 0px;
}

.vidas{
    float: left;
}

.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.d-flex-justify-content-center img{
    margin-left: 25%;
}

.escolha-nivel{
    margin-left: 37.3%;
    padding: 10px;

}


.btn-dark-btn-lg{
    width: 100px;
    height: 50px;
    margin-left: 40%;
    background: rgb(48, 48, 48);
    color: #fff;
}

.btn-dark-btn-lg:hover{
    background-color: blue;
    cursor: pointer;
}